{% extends 'base.html' %}

{% block content %}

<div class="row text-center">
    <div class="col">
        <h1>Welcome to tweetme</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mx-auto col-10"> 
        <form class='form' method='POST' action='create-tweets/'> {%csrf_token%}
            <input type='hidden' value='/' name='next'/>
            <textarea class='form-control' name='content' placeholder='tweet'></textarea>
            <button type='submit' class="btn btn-primary"> Tweet </button>
        </form>
    </div>
</div>
<div class="row" id="tweets">
    Loading ...
</div>
 

<script>
    const tweetsElement = document.getElementById('tweets')
    const handleDidLike = (tweetId, currentCount) =>{
        console.log(currentCount, tweetId)
    }
    const likeBtn = (tweet) =>{
        return "<button class='btn btn-primary' onclick=handleDidLike("+ tweet.id + ","+ tweet.likes + ")>"+ tweet.likes + " " + "Like</button>"
    }
    function formatTweetElement(tweet){
        var formatedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id 
            + "'><p>" + tweet.content + "</p><div class='btn-group'>" + likeBtn(tweet) + "</div></div>"
        return formatedTweet
    }

    var xhr = new XMLHttpRequest()
    var method = 'GET'
    var url = '/tweets'
    var responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        var { response, status } = xhr.response
        var listedItem = response
        let finalItem = ''

        if (status == 200){
            for(i=0; i<listedItem.length; i++){
                var tweetObj = listedItem[i]
                var currentItem = formatTweetElement(tweetObj)
                finalItem += currentItem
            
            }  
            tweetsElement.innerHTML = finalItem;
        }
    }
    xhr.send()
</script>

{% endblock content %}